.grid-container {
    display: grid; /*Esta es la manera de inicializar la rejilla*/
    background-color: aquamarine;

    /*¿CÓMO HACEMOS QUE SEA UN GRID DE VARIAS COLUMNAS?*/
    grid-template-columns: 30px auto 50px; /*Con auto conseguimos que se calcule el tamaño de columnas/filas de forma automática
                                            Pero también se puede especificar.
                                            */
    grid-template-rows: auto auto 100px;

    
    /*
    justify-content: normal; /*esta propiedad alinea el contenido en el eje horizontal

    height: 500px;
    align-content: normal; /*esta propiedad alinea el contenido en el eje vertical
    */



}

.grid-container div {
    background-color: red;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 2px;

    /*Esto se aplica a todos los divs dentro de la clase que hemos especificado, pero si 
    queremos tocarlos individualmente, es decir, modificar cada celda sola pues tenemos que
    asignarle una clase a cada una de ellas en el HTML*/
}

.item1{
    /*grid-column: 1/ 3;    así indicamos el número de columnas que quiero que ocupe, es decir, que empiece en la número 
                            1 (posición inicial) y acabe en la 3 (posición final), por tanto, utiliza dos columnas
                            
                            Otra manera de hacer esto es añadiendo 'span' antes del 3 --> la diferencia es que no habría que 
                            indicar LA POSICIÓN FINAL sino simplemente las posiciones que queremos que se expandan desde la inicial*/
    /*grid-row: ;   igal que lo anterior pero de cara a las filas y no las columnass
    */

    /*grid-area:    se le pueden especificar cuatro valores, que determinan al final como la unión de las dos propiedades anteriores
                    ej: 1/2/5/6 --> empieza en la fila 1
                                --> empieza en la columna 2
                                --> finaliza en la línea 5
                                --> finaliza en la columna 6*/
}