
/* .grid-container {
    display: grid; /*Esta es la manera de inicializar la rejilla
    background-color: black;

    /*¿CÓMO HACEMOS QUE SEA UN GRID DE VARIAS COLUMNAS?
    grid-template-columns: auto auto auto; /*Con auto conseguimos que se calcule el tamaño de columnas/filas de forma automática
                                            Pero también se puede especificar.
                                            
    grid-template-rows: auto auto auto auto;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); /* Columnas adaptables 
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); /* Filas adaptables 
    height: 100vh; /* Altura del viewport 
    gap: 7px;

    /*
    justify-content: normal; /*esta propiedad alinea el contenido en el eje horizontal

    align-content: normal; /*esta propiedad alinea el contenido en el eje vertical
    
    justify-content: center;
    align-content: normal;
} 

/*grid-column: 1/ 3;    así indicamos el número de columnas que quiero que ocupe, es decir, que empiece en la número 
                            1 (posición inicial) y acabe en la 3 (posición final), por tanto, utiliza dos columnas
                            
                            Otra manera de hacer esto es añadiendo 'span' antes del 3 --> la diferencia es que no habría que 
                            indicar LA POSICIÓN FINAL sino simplemente las posiciones que queremos que se expandan desde la inicial*/
    /*grid-row: ;   igal que lo anterior pero de cara a las filas y no las columnass
    */

    /*grid-area:    se le pueden especificar cuatro valores, que determinan al final como la unión de las dos propiedades anteriores
                    ej: 1/2/5/6 --> empieza en la fila 1
                                --> empieza en la columna 2
                                --> finaliza en la línea 5
                                --> finaliza en la columna 6

*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body{
    background-color: black;
    font-family:"Satoshi-Variable","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 14px;
}

.view-main{
    height: 100%;
}

header{
    display: grid;
    background-color: black;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    height: 40vh;
    gap: 8px;

    justify-content: center;
    align-content: normal;
}

header div{
    text-align: center;
    color: wheat;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;


    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    grid-area: 1/1/2/span 4;
}

.grid-container {
    display: grid;
    padding-top: 8px;
    background-color: black;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    height: 60vh;
    gap: 8px;

    justify-content: center;
    align-content: normal;
}
.grid-container div {
    text-align: center;
    color: wheat;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1{
    background: #2900e8;
    grid-area: 2 / 1 / span 2 / span 2;
}
.item2{
    background-color: white;
    grid-area: 2 / 3 / span 1 / span 1;
}

.item3{
    background-color: #1b1b1f;
    grid-area: 2/4/span 1/span 1;
}

.item4{
    background-color: #fff480;
    grid-area: 3/3/span 1/span 2;
}


@media all and (max-width: 900px){
    .grid-container{
        gap: 8px;
    }
    .item1{
        grid-row: 2/span 2;
        grid-column: 1/span 2;
    }

    .item2{
        grid-area: 2 / 3 / 4 / 4;
    }
    .item3{
        grid-area: 1/3/2/4;
    }
}

@media all and (max-width: 850px){
    .grid-container{
        gap: 25px;
    }
    .item1{
        grid-row: 2/span 2;
        grid-column: 1/span 2;
    }

    .item2{
        grid-area: 4/1/5/1;
    }
    .item3{
        grid-area: 1/2/2/3;
    }
}

@media all and (max-width: 570px){
    .grid-container{
        gap: 8px;
    }
    .item1{
        grid-row: 2/span 1;
        grid-column: 1/span 2;
    }
    .item2{
        grid-area: 4/1/5/3;
    }
    .item3{
        grid-area: 1/1/2/3;
    }
}

.about{
    display: grid;
    
    padding-top: 8px;
    height: 120vh;

    background-color: black;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;

    justify-content: center;
    align-content: normal;
}

.about div{
    text-align: center;
    color: wheat;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-who-content{
    background: #1f1a1c;
    grid-area: auto;
}

.work{
    display: grid;
    
    padding-top: 8px;
    width: 100%;
    height: 100%;
    min-height: 60vh;

    background-color: black;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;

    justify-content: center;
    align-content: normal;
}
.work div{
    text-align: center;
    color: wheat;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-work-content{
    background: white;
    grid-area: auto;
}

.services{
    display: grid;
    
    padding-top: 8px;
    height: 120vh;

    background-color: black;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;

    justify-content: center;
    align-content: normal;
}

.services div{
    text-align: center;
    color: wheat;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-services-card{
    background: #1B1B1F;
    grid-area: auto;
}
